.css_special_delete{
    border:2px red dashed;
    max-width:220px;
    overflow-wrap:break-word;
}
.css_h4_delete{
    text-align: center;
    color:red;
}
.css_p_delete{
    text-align:center;
    color:red;
}
.css_delete_button{
    width:40%;
    margin-left:5%;
    margin-right:5%;
    margin-bottom:20px;
    height:40px;
}
@media only screen and (min-width: 560px) {
  .css_special_delete{
      width:90%;
      max-width:1000px;
  }
}