.css_special_delete{
    border:2px red dashed;
}
.css_h4_delete{
    text-align: center;
    color:red;
}
.css_p_delete{
    text-align:center;
    color:red;
}
.css_delete_button{
    width:40%;
    margin-left:5%;
    margin-right:5%;
    margin-bottom:20px;
    height:40px;
}