.css_navBar{
    display: flex;
    justify-content: space-around;
}
.css_navButton{
    width:92%;
    height:45px;
    border: none;
    cursor: pointer;
    border-radius:10px;
    opacity: 0.9;
    font-size:20px;
    margin:10%;
}
.css_navAnchor{
    width: 100%;
}
.calendar{
    background-color: rgb(117, 152, 247);
    color:white;
}
.calendar_off{
    border:rgb(117, 152, 247) 1px dashed;
    color:rgb(117, 152, 247);
}
.clients{
    background-color: rgb(117, 152, 247);
    color:white;
}
.analytics{
    background-color: rgb(117, 152, 247);
    color:white;
}
.clients_off{
    border:rgb(117, 152, 247) 1px dashed;
    color:rgb(117, 152, 247);
}
.promos{
    background-color: rgb(117, 152, 247);
    color:white;
}
.promos_off{
    border:rgb(117, 152, 247) 1px dashed;
    color:rgb(117, 152, 247);
}