body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.css_h2_header{
    text-align: center;
}
.css_h3_header{
  text-align:center
}
.css_body_middle{
    margin-left:auto;
    margin-right:auto;
    margin-top:30px;
    margin-bottom:30px;
    
    padding:20px;
    padding-bottom:40px;
    width:80%;
}
button:hover {
  opacity:50;
}

form {
    border:1px solid #ccc;
    padding-right:60px;
    padding-left:30px;
}
input[type=text], input[type=password],input[type=email] ,input[type=tel],input[type=number], input[type=date],textarea  {
  width: 80%;
  padding: 15px;
  margin: 5px 0 20px 10px;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
.css_button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  margin-top:20px;
  margin-bottom:20px;
}
.css_toggle_view_div{
  text-align:center;
}
.css_toggle_view{
  background-color:purple;
  color:white;
  font-size:20px;
  padding:14px 20px;
  border: none;
  cursor:pointer;
  width:150px;
  opacity: 0.9;
  margin-top:20px;
  margin-bottom:20px;
  border-radius:10px;

  
}
#css_addClient{
  width:60%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  cursor: pointer;
  border-radius:10px;
  opacity: 0.9;
  margin-top:20px;
  margin-bottom:40px;
  margin-left:20%;
  margin-right:20%;
  font-size:20px;
  
}
.css_cancel_button {
  padding: 14px 20px;
  background-color: #f44336;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th,td{
  padding: 15px;
  max-width: 70px;
  overflow-wrap:break-word;
}
th{
  text-align: left;
}
.css_small_hide{
  visibility: hidden
}
.css_mid_hide{
  visibility: hidden
}

@media only screen and (min-width: 414px) {
  .css_mid_hide{
    visibility:visible;
  }
}

@media only screen and (min-width: 560px) {
  .css_small_hide{
    visibility:visible;
  }

}
@media only screen and (min-width: 660px) {
  .css_small_hide{
    visibility:visible;
  }
  th,td{
    padding: 15px;
    max-width: 120px;
    overflow-wrap:break-word;
  }

}